// Menu Button
.menu-btn {
    position: absolute;
    z-index: 3;
    right: 35px;
    top: 35px;
    cursor: pointer;
    @include easeOut;

    .btn-line {
        width: 28px;
        height: 3px;
        margin: 0 0 5px 0;
        background: set-text-color($primary-color);
        @include easeOut;
    }

    //Rotating into an X
    &.close {
        .btn-line {
            &:nth-child(1) {
                background: $secondary-color;
                transform: rotate(45deg) translate(5px, 5px);
            }

            &:nth-child(2) {
                opacity: 0;
                background-color: $primary-color;
                transform: translate(-100%, 0px);
            }

            &:nth-child(3) {
                background: $secondary-color;
                transform: rotate(-45deg) translate(7px, -6px);
            }
        }

    }
}

// Menu Overlay
.menu {
    position: fixed;
    top: 0;
    width: 100%;
    // opacity: 0.9;
    visibility: hidden;

    &.show {
        visibility: visible;
    }

    &-branding,
    &-nav {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
        float: left;
        width: 50%;
        height: 100vh;
        overflow: hidden;
    }

    //Branding side
    &-branding {
        margin: 0;
        padding: 0;
        background: $primary-color;
        transform: translate3d(0, 100%, 0);
        @include easeOut;

        &.show {
            transform: translate3d(0, 0, 0);
        }

        .menu-portrait {
            width: 250px;
            height: 250px;
            background-image: $user-image;
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 50%;
            border: 10px solid lighten($color: $primary-color, $amount: 3);

            &:hover {
                border: 10px solid $secondary-color;
                @include easeOut;
            }
        }

        .icons {
            margin-top: 1rem;
    
            a {
                padding: 0.4rem;
    
                &:hover {
                    color: $secondary-color;
                    @include easeOut;
                }
            }
        }


    }

    // Navigation Side
    &-nav {
        font-size: 2rem;
        margin: 0;
        padding: 0;
        background: darken($color: $primary-color, $amount: 5);
        transform: translate3d(0, -100%, 0);
        @include easeOut;
        opacity: 0.9;

        &.show {
            transform: translate3d(0, 0, 0);
        }

        .nav-item {
            transform: translate3d(600px, 0, 0);
            @include easeOut;

            &.show {
                transform: translate3d(0, 0, 0);
            }
        }

        .nav-item a:hover {
            border-bottom: 2px solid lighten($color: $primary-color, $amount: 3);
            color: $secondary-color;
            @include easeOut;
        }
    }
}

@for $x from 1 through 4 {
    .nav-item:nth-child(#{$x}) {
        transition-delay: $x * 0.1s;
    }
}