// Widescreens
@include mediaXl {
    
    body {
        font-size: 3rem;
    }

    h1,
    h2,
    h3 {
        &.lg-heading {
            font-size: 6rem;
        }
    }

    .menu-btn {
        right: 70px;
        top: 70px;

        .btn-line {
            width: 54px;
            height: 6px;
        }

        &.close {
            .btn-line {
                &:nth-child(1) {
                    transform: rotate(45deg) translate(10px, 10px);
                }
                
                &:nth-child(3) {
                    transform: rotate(-45deg) translate(6px, -6px);
                }
            }
        }
    }

    .menu {

        &-branding {
            .menu-portrait {
                width: 500px;
                height: 500px;
            }
        }

        &-nav {
            font-size: 4rem;
        }
    }

    .about-info {
        grid-template-areas: 
        'bioImage bio bio'
        'job1 job2 job3';
        grid-template-columns: repeat(3, 1fr);

        .bio-image {
            grid-area: bioImage;
            min-width: fit-content;
            min-height: fit-content;
        }

        .bio {
            grid-area: bio;
            padding-right: 3rem;
        }

        .job1 {
            grid-area: job1;
            min-width: fit-content;
        }

        .job2 {
            grid-area: job2;
        }

        .job3 {
            grid-area: job3;
        }
    }

    .projects-writing {
        grid-template-columns: repeat(3, 1fr);

        .article {
            height: fit-content;
        }
    }

    .projects-dev {
        grid-template-columns: repeat(3, 1fr);
        
        img {
            height: 50vh;
        }
    }


}

// Desktop & Laptops
@include mediaLg {

    .about-info {
        grid-template-areas: 
        'bioImage bio bio'
        'job1 job2 job3';
        grid-template-columns: repeat(3, 1fr);

        .bio-image {
            grid-area: bioImage;
            min-width: 300px;
            max-width: 500px;
            min-height: 300px;
            max-height: 500px;
        }

        .bio {
            grid-area: bio;
        }

        .job1 {
            grid-area: job1;
            min-width: fit-content;
        }

        .job2 {
            grid-area: job2;
        }

        .job3 {
            grid-area: job3;
        }
    }
    
    .projects-writing {
        grid-template-columns: repeat(2, 1fr);

        .article {
            height: fit-content;

            img {
                max-width: 918px;
                max-height: 612px;
            }
        }
    }

    .projects-dev {
        grid-template-columns: repeat(2, 1fr);

        img {
            max-height: 50vh;
        }
    }
}

// Tablets & Small Laptops
@include mediaMd {

    body {
        font-size: 2rem;
    }

    h1,
    h2,
    h3 {
        &.lg-heading {
            font-size: 5rem;
        }
    }
}
