@import "config";
@import "menu";


// General Styling Setup / Zeroing Out
* {
    box-sizing: border-box;
    max-width: 100vw;
}

body {
    @include background;
    height: 100%;
    // color: set-text-color ($primary-color);
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
    background: $primary-color;

}

// Headings
h1,
h2,
h3 {
    margin: 0;
    font-weight: 400;

    &.lg-heading {
        font-size: 4rem;
    }

    &.sm-heading {
        margin-bottom: 2rem;
        padding: 0.2rem;
        border-radius: 10px;
        background: rgba(lighten($color: $primary-color, $amount: 2), 0.3);
        max-width: max-content;
    }
}

// Links
a {
    color: set-text-color($primary-color);
    text-decoration: none;
}

// Header
header {
    position: fixed;
    width: 100%;
}

ul {
    list-style: none;
    z-index: 2;
    width: 100%;
}

.text-secondary {
    color: $secondary-color;
}

main {
    padding: 2rem;
    max-height: calc(100vh - 60px);

    &#home {
        overflow: hidden;
        color: set-text-color($primary-color);

        h1 {
            margin-top: 10vh;
        }
    }
}


//Styling for the About Page
#about {
    color: set-text-color($primary-color);

    .about-info {
        display: grid;
        gap: 30px;
        grid-template-columns: 1fr;
        text-align: justify;

        .bio-image {
            width: 95%;
            border-radius: 50%;
            border: $secondary-color 3px solid;
            padding: auto;
        }

        .bio {

            h3 {
                text-transform: uppercase;
                font-weight: 600;
            }
        }

        .job {
            background: darken($color: $primary-color, $amount: 5);
            padding: 0.5rem;
            border-bottom: $secondary-color 5px solid;
            border-radius: 10px;

        }

    }
}

// Styling the development page
.btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    border: 0;
    margin-bottom: .3rem;
    border-radius: 10px;
    @include easeOut;

    &:hover {
        background: $secondary-color;
        color: set-text-color($secondary-color);
    }
}

.projects-dev {
    @include baseGrid;
    grid-template-columns: 1fr;

    .btn-dark {
        @extend .btn;
        background: darken($color: $primary-color, $amount: 50);
        color: #fff;
    }


    img {
        width: 75%;
        height: 100%;
        border: 3px solid lighten($color: $primary-color, $amount: 3);
        @include easeOut;
        border-radius: 10px;

        &:hover {
            @include baseHover;
        }
    }

}

//Styling the writing page
#writing {
    h3 {
        padding-bottom: 5px;
        font-weight: bold;
        border-bottom: 2px solid $secondary-color;
    }
}

.projects-writing {
    @include baseGrid;
    grid-template-columns: 1fr;

    .article {
        width: 100%;

        p {
            background: darken($color: $primary-color, $amount: 5);
            border-radius: 10px;
            padding: 15px;
            text-align: justify;
        }

        img {
            height: 100%;
            width: 100%;
            border-radius: 10px;
            @include easeOut;
            background: darken($color: $primary-color, $amount: 6);

            &:hover {
                @include baseHover;
            }
        }
    }
}

@import "mobile";